/* :root{
    --:
} */
/* about body */
body {
    font-family: Roboto,Verdana,
    sans-serif; 
    background-color: #E5E5E5;
    color: #212121;   
}
/* about list */
.list {
    list-style: none;
}
/* about button */
.button :active {
    color: blue;
}

/* about header */
.page-header{ 
    background-color: #FFFFFF;
}
/* about logo */
.nav-logo {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.17;
    color: #212121;
    text-decoration: none;
}
.logo  {
    color: #2196F3;
}
.nav-logo :hover,
.nav-logo :focus {
    color: blue;
}
/* about links */
.nav-links a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    color: #212121;
}
.nav-links :hover,
.nav-links :focus {
    color: blue;
}
.adress-links a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    color: #757575;
}
.adress-links :hover,
.adress-links :focus {
color: blue;
}
/* about section title */
.title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    background-color:#2F303A;
    color: #FFFFFF;
}
.button {
    font-weight: 700 ;
    font-size: 16px;
    line-height: 1,88;
    background-color: #2196F3;
    color: #FFFFFF;
}

/* about Portfolio H1 */
.none {
    display: none;
}






