:root{
    --primary-font: Roboto, sans-serif;
    --logo-font: Raleway, sans-serif;
    --primary-background-color: #E5E5E5;
    --secondary-background-color: #F5F4FA;
    --header--background-color: #FFFFFF;
    --footer-background-color: #2F303A;
    --primary-color: #212121;
    --secondary-color:#757575;
    --logo-color:#2196F3; 
}

/* about body */
body { 
    font-family: var(--primary-font);
    color: var(--primary-color);  
    background-color: var(--primary-background-color)
}


 /* about header */
.page-header {
    display: flex;
    background-color: var(--header--background-color) 
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-logo {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    text-decoration: none;
    padding-left: 215px;
}

.nav-links {
    display: flex;
    padding-left: 90px;
}

.header-links {
    display: flex;
}

.nav-link:first-child {
    margin-right: 50px;
}

.nav-link {
    margin-right: 50px;
}

.nav-link:last-child {
    margin-right: 330px;
}

.header-last {
    margin-left: 50px;   
}

.nav-links a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    color: var(--primary-color);
}

.nav-links :hover,
.nav-links :focus {
    color: blue;
}

.header-links a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    color: var(--secondary-color);
}

.header-links :hover,
.header-links :focus {
    color: blue;
}



/* about logo */
.logo {
    color: var(--logo-color);
}

.logo-header {
    color: var(--primary-color);
}

.nav-logo :hover,
.nav-logo :focus {
    color: blue;
}

.logo-footer {
    color: #FFFFFF;
}


/* about main studio */

/* about section title-main */
.title-main{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    background-color:var(--footer-background-color);
    color: #FFFFFF;
    display: block;
    padding-top: 80px;
}

.title-main button {
    font-weight: 700 ;
    font-size: 16px;
    line-height: 1.88;
    background-color: #2196F3;
    color: #FFFFFF;
    align-items: center;
    margin-bottom: 200px;
    letter-spacing: 0.06em;
}

.button :active {
    color: blue;
}

/* about section credo */
.credo-items{
    padding-left: 215px; 
    padding-right: 215px; 
    display: flex;
}

.credo-item:first-child{
    margin-right: 30px;
}

.credo-item{
    margin-right: 30px;
}
.credo{
    color: var(--secondary-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.list h3 {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
        text-transform: uppercase;
} 
 

/* about section works */
.work-items{
    display: flex;
    padding-left: 215px;
    padding-right: 215px;
}

.work-item:first-child {
    margin-right: 30px;
} 

.work-item {
    margin-right: 30px;
}

.work >h2 {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* about section team */
.teams{
    background-color: var(--secondary-background-color);
}

.team-items{ 
    display: flex;
    padding-left: 215px;
    padding-right: 215px;
}

.team-item {
    margin-right: 30px;
}

.team-item:first-child {
    margin-right: 30px;
}

.teams > h2{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-top: 188px;
}

.persons{
   background-color:var(--header--background-color); 
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
   text-align: center;
}

.person {
    font-size: 16px;
    line-height: 1.19;
    font-weight: 500; 
    text-align: center;
}
.about{
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.19;
}


/* about footer */
.footer {
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;
    background-color:var(--footer-background-color) ;
    height: 252px;  
}
.adress-links {
    font-style: normal;
    padding-left: 215px;   
}
.adress-link {
    color: #FFFFFF;
    text-decoration: none;

}
.adress-links :hover,
.adress-links :focus {
    color: blue;
}



/* about main portfolio */

/* about section about works */
.none-color {
    color: #E5E5E5;
}

.buttons {
    display: flex;
    padding-left: 495px;
}

.button{
    background-color:var(--secondary-background-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    display: flex;  
    margin-right: 8px;
}

.button:first-child {
    margin-right: 8px;
}


/* about section projects */
.projects{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}
.projects-items{
    display: flex;
    padding-left: 215px;
    padding-right: 215px;
}
.projects-item:first-child{
    margin-right: 30px;
}
.projects-item{
    margin-right: 30px;
    font-size: 18px;
    line-height: 2;
}

.project{
    font-size: 16px;
    line-height: 1.88;
}

/* about comon */

.content {
    width: 1600px;
    margin: 0 auto;
}

.list {
    list-style: none;
}

